body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* site*/
.listGovs {
    list-style: none;
    padding: 10px;
}
.listTypes {
    list-style: none;
    padding: 10px;
}

.creation {
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

.govTitle {
    font-size: 18px;
    color: red;
}
.typeTitle {
    font-size: 18px;
    color: red;
}
.searchingTrainess{
    width:300px;
}
.traineeClass {
    padding: 5px;
    
    margin-bottom:3px;
}


.listTrrainees{
    list-style:none;
}

/* override bootstrap*/
.navbar-inverse .navbar-brand {
    color: floralwhite;
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 17px;
}
